# Libraries

# Loading the Data

# Statistics Descriptive

In [7]:
# Tandai baris bersalas 0
zero_sales = df["units_sold"] == 0
stockout   = (df["inventory_level"] == 0) & zero_sales
demand_zero = (df["inventory_level"] > 0) & zero_sales

print(f" Penjualan 0 total: {zero_sales.sum():,} baris")
print(f"   • Penjualan 0 + stok 0  : {stockout.sum():,} baris  ({stockout.mean()*100:.2f} %)")
print(f"   • Penjualan 0 + stok >0 : {demand_zero.sum():,} baris  ({demand_zero.mean()*100:.2f} %)")

# Tampilkan contoh baris
cols_show = ["date", "series_id", "units_sold", "inventory_level", "sell_through"]
display(df.loc[stockout].head(5))
display(df.loc[demand_zero].head(5))

 Penjualan 0 total: 360 baris
   • Penjualan 0 + stok 0  : 0 baris  (0.00 %)
   • Penjualan 0 + stok >0 : 360 baris  (0.49 %)

Empty DataFrame
Columns: [date, store_id, product_id, category, region, inventory_level, units_sold, units_ordered, price, discount, weather_condition, holiday_promotion, competitor_pricing, seasonality, series_id, inventory_level_is_outlier, units_sold_is_outlier, units_ordered_is_outlier, price_is_outlier, discount_is_outlier, competitor_pricing_is_outlier, sell_through, price_gap, is_promo]
Index: []

,date,store_id,product_id,category,region,inventory_level,units_sold,units_ordered,price,discount,weather_condition,holiday_promotion,competitor_pricing,seasonality,series_id,inventory_level_is_outlier,units_sold_is_outlier,units_ordered_is_outlier,price_is_outlier,discount_is_outlier,competitor_pricing_is_outlier,sell_through,price_gap,is_promo
120,2022-05-01,S001,P0001,Groceries,North,125,0,117,36.91,10,Cloudy,False,37.85,Spring,S001_P0001,False,False,False,False,False,False,0.0,-0.94,True
251,2022-09-09,S001,P0001,Groceries,North,220,0,102,38.45,20,Sunny,True,39.51,Winter,S001_P0001,False,False,False,False,False,False,0.0,-1.06,True
492,2023-05-08,S001,P0001,Groceries,North,135,0,66,94.08,5,Sunny,False,91.55,Autumn,S001_P0001,False,False,False,False,False,False,0.0,2.53,True
605,2023-08-29,S001,P0001,Groceries,North,105,0,163,39.32,5,Rainy,False,40.58,Spring,S001_P0001,False,False,False,False,False,False,0.0,-1.26,True
887,2022-06-06,S001,P0002,Toys,South,72,0,117,95.64,15,Snowy,True,92.28,Spring,S001_P0002,False,False,False,False,False,False,0.0,3.36,True

- Semua penjualan 0 dikarenakan tidak ada demand (bukan stockout)

# Corellation Analysis

# Time Series Plot

# Calendar heat-maps & seasonality

# Group-level summaries (Mean, median, cv, etc by group)

# STL decomposition

# Stationary Test

# Time Series Clustering

# Export Feature